.container{
    color: black;
    font-weight: 600;
    background: rgb(222,255,252);
    background: linear-gradient(180deg, rgba(222,255,252,1) 0%, rgba(238,188,237,1) 100%);
    border-radius: 10px
}
.output{
    background: rgb(222,255,252);
    background: linear-gradient(90deg, rgba(222,255,252,1) 0%, rgba(238,188,237,1) 100%);
}
.top, .bottom{
    background-color: white;
}
.background{
    background: rgb(222,255,252);
    background: linear-gradient(45deg, rgba(222,255,252,1) 0%, rgba(238,188,237,1) 100%);
    border-radius: 20px;
    padding: 20px;
}